/MemoHippo/.vs/MemoHippo/v16/.suo
/MemoHippo/MemoHippo/obj
/MemoHippo/MemoHippo/bin
/MemoHippo/packages
/MemoHippo/PicResource/obj
/MemoHippo/PicResource/bin
/MemoHippo/RichTextEditor2/Text Editor/obj
/MemoHippo/RichTextEditor2/Text Editor/bin
